<!DOCTYPE html>
<html>
<head>
    <title>House Price Predictor</title>
</head>
<body>
    <h2>House Price Prediction</h2>
    <form action="/predict" method="post">
        Longitude: <input type="text" name="longitude"><br>
        Latitude: <input type="text" name="latitude"><br>
        House Age: <input type="text" name="housing_median_age"><br>
        Total Rooms: <input type="text" name="total_rooms"><br>
        Total Bedrooms: <input type="text" name="total_bedrooms"><br>
        Population: <input type="text" name="population"><br>
        Households: <input type="text" name="households"><br>
        Median Income: <input type="text" name="median_income"><br>

        Ocean Proximity:
        <select name="ocean_proximity">
            <option value="NEAR BAY">NEAR BAY</option>
            <option value="INLAND">INLAND</option>
            <option value="<1H OCEAN"><1H OCEAN</option>
            <option value="NEAR OCEAN">NEAR OCEAN</option>
            <option value="ISLAND">ISLAND</option>
        </select><br><br>

        <input type="submit" value="Predict Price">
    </form>

    <h3>{{ prediction_text }}</h3>
</body>
</html>
